# This workflow will build a Java project with Maven, and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Java Build with Maven & Deploy to AKS

on:
  push:
#    paths:
#      - 'api/**'
#      - '!api/**.md'
    branches: [ main ]
  pull_request:
    paths:
      - 'api/**'
      - '!api/**.md'
    branches: [ main ]
    
env:
  # app env
  WORKING_DIR: './board-api'
  BOARD_API_PORT: '8090'
  
  # azure env
  AZURE_RG: 'rg-ghworkshop-base'
  AZURE_REGION: 'koreacentral'
  ACR_NAME: 'acrghworkshop'
  SECRET: 'secret-for-acr'
  AKS_CLUSTER: 'aks-cluster-ghworkshop'
  NAMESPACE: 'boardapi'
  APP_NAME: 'app'

jobs:
  build-and-push-to-acr:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    
    - name: Azure Login
      uses: Azure/login@v1.1
      with:
        creds: ${{secrets.AZURE_CREDENTIALS}}

    - name: Azure Container Registry Login
      uses: Azure/docker-login@v1
      with:
        login-server: ${{ env.ACR_NAME }}.azurecr.io
        username: ${{ secrets.ACR_USERNAME }} 
        password: ${{ secrets.ACR_PASSWORD }} 

    - run: |
        echo 'Start Build and Push to ACR'
        
        cd board-api
        mvn compile jib:build
        
        echo 'Complete Build and Push to ACR'
      
  deploy-to-aks:
    needs: build-and-push-to-acr
    runs-on: ubuntu-latest

    steps:
    - name: Azure Login
      uses: Azure/login@v1.1
      with:
        creds: ${{secrets.AZURE_CREDENTIALS}}

    # Set the target Azure Kubernetes Service (AKS) cluster. 
    - uses: azure/aks-set-context@v1
      with:
        creds: '${{ secrets.AZURE_CREDENTIALS }}'
        cluster-name: ${{ env.AKS_CLUSTER }}
        resource-group: ${{ env.AZURE_RG }}
        
    # Create namespace if doesn't exist
    - run: |
        kubectl create namespace ${{ env.NAMESPACE }} --dry-run=client -o json | kubectl apply -f -

    # Create image pull secret for ACR
    - uses: azure/k8s-create-secret@v1
      with:
        container-registry-url: ${{ env.ACR_NAME }}.azurecr.io
        container-registry-username: ${{ secrets.ACR_USERNAME }}
        container-registry-password: ${{ secrets.ACR_PASSWORD }}
        secret-name: ${{ env.SECRET }}
        namespace: ${{ env.NAMESPACE }}
        arguments: --force true
    
    # Deploy app to AKS
    - uses: azure/k8s-deploy@v1
      with:
        manifests: |
          ${{ github.workspace }}/manifests/deployment.yaml
          ${{ github.workspace }}/manifests/service.yaml
        images: |
          ${{ env.ACR_NAME }}.azurecr.io/${{ env.APP_NAME }}:latest
        imagepullsecrets: |
          ${{ env.SECRET }}
        namespace: ${{ env.NAMESPACE }}

